* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow: hidden;
  background-color: #eff7ff;
}

main {
  height: 95vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
