section {
  background-color: #638c26;
  box-shadow: 0 0 20px #9f86c0;
  border: 5px solid #eff7ff;
  outline: 3px solid #638c26;
  color: #eff7ff;
  text-shadow: 0px 0px 6px #82204a;
  width: 85vw;
  height: 85vh;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2vh;
  padding: 3vh;

  & > form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    & > div {
      gap: 1vh;
      margin: 4vh;
      display: flex;
      flex-direction: column;

      & > p {
        text-align: center;
        margin: 1vh;
        text-decoration: underline;
      }
      & > div {
        display: flex;
        align-items: center;
        justify-content: center;

        & > div {
          margin: 1vh;
          display: flex;
          gap: 0.5vh;
        }
      }
    }
  }
}

.board {
  align-self: center;
  display: flex;
  flex-direction: column;
  border: 2px solid #231123;
}

.row {
  display: flex;
  margin: 1px 0;
  & > div {
    width: calc(4.5vmin / var(--size));
    height: calc(4.5vmin / var(--size));
    margin: 0 1px;
    outline: 1px solid #9f86c0;
  }
}

.tile {
  background-color: #231123;
}

.snake {
  background-color: #638c26;
}

.apple {
  background-color: #82204a;
}

.top,
.bottom,
.left,
.right {
  border: 2px solid #82204a;
  background-color: #eff7ff;
  border-radius: 5px;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s;

  &:hover {
    background-color: #9f86c0;
    cursor: pointer;
  }
}

.top,
.bottom {
  min-width: 70vmin;
  height: 5vmin;
}

.left,
.right {
  width: 5vmin;
  height: 70vmin;
}

.active {
  background-color: #9f86c0;
}

.top {
  top: 10vh;
  left: calc(50vw - 35vmin);
  & > svg {
    transform: rotate(-90deg) scale(140%);
  }
}

.bottom {
  top: 87vh;
  left: calc(50vw - 35vmin);
  & > svg {
    transform: rotate(90deg) scale(140%);
  }
}

.left {
  top: calc(50vh - 35vmin);
  left: 9vw;
  & > svg {
    transform: rotate(180deg) scale(140%);
  }
}

.right {
  top: calc(50vh - 35vmin);
  left: 86vw;

  & > svg {
    transform: scale(140%);
  }
}

.scores {
  position: fixed;
  top: 82vh;
  width: 72vw;
  left: 14vw;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5vw;
  font-size: 1.5vh;
}
